
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido {{ user.username }}</title>
</head>


<style>

    * {
        padding: 0px;
        margin: 0px;
        box-sizing: content-box;
        font-family: 'Courier New', Courier, monospace;
    }

</style>

<body>
    
    <h3 style="margin-top: 3em;">Hola {{ user.username }}, tu token de verificación está </h3>
    <br>
    <br>
    <b>CODE VERIFICATION:  {{ code }}</b>

</body>
</html>